# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\code_repo\HRSE_DAY3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
